In [ ]:
a= list(input("enter a list"))
print(a[::-1])

enter a list5 2 3 1
['1', ' ', '3', ' ', '2', ' ', '5']

In [ ]:
a=list(input("enter the list"))
b=list(input("enter the list"))
c=[]
for i in range(0,len(a)):
  c.append(a[i])
  c.append(b[i])
print(c)

enter the listaaa
enter the listvvv
['a', 'v', 'a', 'v', 'a', 'v']

In [ ]:
a=list(input("enter the list"))
c=[]
for i in range(0,len(a)):
  a[i]=int(a[i])
  c.append(a[i]*a[i])
print(c)

enter the list254
[4, 25, 16]

In [ ]:
a=list(input("enter a list "))
for i in range(0,len(a)):
  a.pop()
print(a)

enter a list adithyan
[]

In [ ]:
a=list(input("enter the list "))
b=input("enter value to update")
c=0
for i in range(0,len(a)+1):
  if a[i]==b:
    a[i]=int(a[i])
    c=a[i]**2
    c=str(c)
    a.insert(i,c)
    a.remove(a[i+1])
    break
print(a)

enter the list 5456
enter value to update5
['25', '4', '5', '6']

In [ ]:
a=list(input("enter a list"))
b=input("enter the value toremove")
for i in a:
  if i==b:
    a.remove(i)
print(a)

enter a list5415454
enter the value toremove5
['4', '1', '4', '4']

In [ ]:
a=tuple(input("enter value "))
print(a[::-1])

enter value 5d4d54d
('d', '4', '5', 'd', '4', 'd', '5')

In [ ]:
a=tuple(input("enter values "))
b=input("enter value to check the occurence ")
count=0
for i in a:
  if i==b:
    count+=1
print(count)

enter values 5d4d5d4d
enter value to check the occurence d
4

In [ ]:
a=tuple(input("enter values "))
for i in a:
  print(i)

enter values 54hg
5
4
h
g

In [ ]:
a=tuple(input("enter the value "))
b=tuple(input("enter the value "))
a=list(a)
b=list(b)
c=[]
for i in range(0,len(a)):
  a[i]=int(a[i])
  b[i]=int(b[i])
  c.append(a[i]+b[i])
c=tuple(c)
print(c)

enter the value 123
enter the value 456
(5, 7, 9)

In [ ]:
a=tuple(input("enter value"))
b=tuple(input("enter value"))
c={a[i]:b[i] for i in range(0,len(a))}
print(c)

enter value123
enter value456
{'1': '4', '2': '5', '3': '6'}

In [ ]:
a=set(input("enter the value :"))
b=input("enter value to remove ")
for i in a:
  if i ==b:
    a.remove(i)
    break
print(a)

enter the value :4566316
enter value to remove 6
{'3', '1', '4', '5'}

In [ ]:
a=set(input("enter value"))
b=set(input("enter value"))
print(a.intersection(b))

enter value12545
enter value1254521
{'2', '5', '4', '1'}

In [ ]:
a=set(input("enter value "))
for i in a:
  for j in a:
    if i>j:
      max=i
      min=j
print("max value= ",max,"min value = ",min)

enter value 123456789
max value=  5 min value =  1

In [ ]:
a=set(input("enter a number "))
b=set(input("enter a number "))
c=len(a.intersection(b))
if(c > 0):
  print("elements in common")
else:
  print("no elements in common")

enter a number 123
enter a number 345
elements in common

In [ ]:
myDict = {'ravi': 10, 'rajnish': 9,
		'sanjeev': 15, 'yash': 2, 'suraj': 32}
print(myDict['ravi'])
myKeys = list(myDict.keys())
myKeys.sort()
sorted_dict = {i: myDict[i] for i in myKeys}

print(sorted_dict)

10
{'rajnish': 9, 'ravi': 10, 'sanjeev': 15, 'suraj': 32, 'yash': 2}

In [ ]:
a=dict({i:i**2 for i in range(1,11)})
print(a)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [ ]:
a={'a':1,'a':1,'b':2,'c':3}
print(a)

{'a': 1, 'b': 2, 'c': 3}

In [ ]:
a=str(input("enter the string "))
a=list(a)
b={a[i]: i for i in range(0,len(a))}
print(b)

enter the string act
{'a': 0, 'c': 1, 't': 2}